*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #24231f;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content 75vh repeat(2, min-content);
  grid-template-columns: 70vw 30vw; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem   !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem   !important; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.u-margin-top-big {
  margin-top: 8rem  !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.logo {
  grid-column: 1 / -1; }

.header {
  background-image: url(../images/schiefer.jpg);
  background-size: cover;
  grid-column: 1 / 2; }
  .header__headlines {
    margin: 10rem 4rem;
    color: rgba(255, 255, 255, 0.8); }
    .header__headlines--teaser {
      font-size: 4rem; }
    .header__headlines--catch {
      font-size: 6rem; }

.quotes {
  grid-column: 2 / 3;
  background-color: #58ffc0;
  padding: 4rem;
  box-shadow: 0rem 4rem 8rem rgba(0, 0, 0, 0.5); }
  .quotes__item {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 10px 10px; }
  .quotes__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2rem; }
  .quotes__name {
    display: inline-block; }

.howto {
  background-color: #fff;
  padding: 4rem 16rem;
  position: relative;
  grid-column: 1 / -1; }
  .howto__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem; }
  .howto__item {
    background-color: rgba(88, 255, 192, 0.8);
    border-radius: 5px;
    padding: 1rem 4rem;
    transition: all .2s; }
    .howto__item:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .howto__step {
    padding: 2rem 0;
    font-size: 2rem; }
  .howto__text {
    padding-bottom: 4rem;
    font-size: 1.6rem; }

.section__headline {
  font-size: 2rem; }

.section__subline {
  font-size: 1.6rem; }

.footer {
  grid-column: 1 / -1;
  background-color: #58ffc0; }
