// COLORS
$color-1: #58ffc0;

$color-grey-light: #5a5652;
$color-grey: #343435;
$color-grey-dark: #24231f;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$font-headline: 'Alegreya', serif;
$font-text: "Helvetica Neue", Helvetica, Arial, sans-serif;

$border-rad: 5px;
$border-rad-big: 10px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-text;
    color: $color-grey-dark;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: min-content 75vh repeat(2, min-content);
    grid-template-columns: 70vw 30vw;
}